<mat-toolbar color="accent" style="position: fixed; z-index: 10000">
  <span>Eliard</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with account_circle icon"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with settings icon"
  >
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
