<mat-card style="width: 100%" class="border-card invisible-in-mobile">
  <mat-card-header>
    <div mat-card-avatar class="card-avatar"></div>
    <mat-card-title>Richard</mat-card-title>
    <mat-card-subtitle>@richard</mat-card-subtitle>
    <div class="example-button-container">
      <button
        style="margin-left: 100%"
        mat-mini-fab
        color="warn"
        aria-label="Example icon button with a menu icon"
        routerLink="/login"
      >
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <br />
  <div class="buttons-in-row">
    <button mat-raised-button>Criar postagem</button>
  </div>
</mat-card>
