<div class="container">
  <mat-card class="border-card">
    <mat-card-title>Crie sua conta</mat-card-title>
    <div class="divider"></div>
    <form>
      <p>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Nome</mat-label>
          <input matInput [(ngModel)]="person.name" name="person.name" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Nickname</mat-label>
          <input
            matInput
            [(ngModel)]="person.nickname"
            name="person.nickname"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="person.email" name="person.email" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Senha</mat-label>
          <input matInput [(ngModel)]="person.passwd" name="person.passwd" />
        </mat-form-field>
      </p>
      <div class="buttons-in-row">
        <button mat-raised-button color="accent" (click)="create()">
          Criar
        </button>
      </div>
      <p class="text-center p1">ou</p>
      <div class="buttons-in-row">
        <button mat-stroked-button color="basic" (click)="goBack()">
          Voltar
        </button>
      </div>
    </form>
  </mat-card>
</div>
