<div class="container">
  <mat-card class="border-card" *ngIf="showEmail">
    <mat-card-title>Acesse sua conta</mat-card-title>
    <div class="divider"></div>
    <form>
      <p>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="user.email" name="user.email" />
          <mat-hint>email@yourdomain.com</mat-hint>
        </mat-form-field>
      </p>
      <br />
      <div class="buttons-in-row">
        <button mat-raised-button color="accent" (click)="testEmail()">
          Próximo
        </button>
      </div>
      <p class="text-center p1">ou</p>
      <div class="buttons-in-row">
        <button mat-stroked-button color="accent" (click)="goToSignup()">
          Criar nova conta
        </button>
      </div>
    </form>
  </mat-card>
  <mat-card class="border-card" *ngIf="showPassWd">
    <mat-card-title>Olá Usuário</mat-card-title>
    <mat-card-subtitle>Informe sua senha</mat-card-subtitle>
    <div class="divider"></div>
    <form>
      <p>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Senha</mat-label>
          <input matInput [(ngModel)]="user.passwd" name="user.passwd" />
          <mat-hint>*********</mat-hint>
        </mat-form-field>
      </p>
      <br />
      <div class="buttons-in-row">
        <button mat-raised-button color="accent" (click)="testPasswd()">
          Acessar
        </button>
      </div>
      <p class="text-center p1">ou</p>
      <div class="buttons-in-row">
        <button mat-stroked-button color="accent" (click)="goToLoginStep()">
          Criar nova conta
        </button>
      </div>
    </form>
    <br /><br />
    <a href="#" class="forgot m1 text-center">Esqueci minha senha</a>
  </mat-card>
</div>
