<mat-card class="border-card" style="margin: 0 auto 40px auto; width: 80%">
  <mat-card-header>
    <div mat-card-avatar class="card-avatar"></div>
    <mat-card-title>Richard</mat-card-title>
    <mat-card-subtitle>@richard</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
    class="card-content-image"
  />
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="border-card" style="margin: 40px auto; width: 80%">
  <mat-card-header>
    <div mat-card-avatar class="card-avatar"></div>
    <mat-card-title>Richard</mat-card-title>
    <mat-card-subtitle>@richard</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
    class="card-content-image"
  />
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
</mat-card>
